<div>
    <select name="add_category" js-channel-id="{{subscription.snippet.resourceId.channelId}}" js-data-src="categories" style="margin-top: 10px; margin-bottom: 5px;">
        <option disabled selected>-- Select a Category --</option>
    </select>
    <button name="category_submit">Go</button>
</div>